<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
		 <class name="com.master.testscripts.PartnerScript"/>
    	<!--<class name="com.master.testscripts.CarrierScript"/>
         <class name="com.master.testscripts.RolesScript"/>
     	<class name="com.master.testscripts.ClustersScript"/>
       <class name="com.master.testscripts.EmptyYardScript"/>
        <class name="com.master.testscripts.CfsScript"/>
      <class name="com.master.testscripts.ChargesScript"/>
      <class name="com.master.testscripts.VehicleScript"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
